/**
 * vtable css
 * Created by lxj on 16/8/13.
 */

.vue-table {
    box-sizing: border-box;
    border: 1px solid #D6E2EB;
}

.vue-table_table {
    width: 100%;
    line-height: 1.2;
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    color: #5B6878;
}

.vue-table_fix-header {
    height: 53px;
    overflow: hidden;
    position: relative;
}

.vue-table_fix-header:after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    background-color: #51E09B;
}

.vue-table.is-loading .vue-table_fix-header:after {
    animation: width-scale infinite 1s ease-in;
}

.vue-table_fix-table {
    overflow: auto;
}

.vue-table_fix-table .vue-table_table {
    margin-top: -53px;

}

.vue-table_header {

}

.vue-table_body {

}

.vue-table_header-row {
}

.vue-table_row {

}

.vue-table_th {
    padding: 17px 13px;
    border-bottom: 2px solid #D6E2EB;
}

.vue-table_th-inner {
}

.vue-table_cell {
    padding: 17px 13px;
    border-bottom: 1px solid #D6E2EB;
}

@keyframes width-scale {
    0% {
        width: 100%;
    }

    50% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}